*.dart linguist-detectable=true
*.dart linguist-language=Dart
android/** linguist-vendored=true
ios/** linguist-vendored=true
windows/** linguist-vendored=true
linux/** linguist-vendored=true
macos/** linguist-vendored=true
web/** linguist-vendored=true
*.g.dart linguist-generated=true
